/* Common Rules */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

body{
    background-color: rgba(244, 249, 253, 1);
}

header{
    width: 100%;
}

.container_navbar{
    width: 70%;
    height: 100%;
    margin: auto;
}

.navbar{
    width: 100%;
    height: 50%;
}

/* NavBar Top */
.top{
    line-height: 100px;
}

.top_left{ 
    float: left;
}

.top_right{ 
    float: right;
}

.globe_img{
    height: 13px;
    margin-right: 5px;
    background-color: black;
    border-radius: 50%;
}

.trattino{
    margin-left: 10px;
    margin-right: 10px;
}

.search_img{
    height: 13px;
}

.button{
    text-decoration: none;
    padding: 15px ;
    border-radius: 5px;
    font-size: 15px;
}

.top_white{
    color: rgba(253, 136, 111, 1);
    border: 1px solid rgba(253, 136, 111, 1);
    margin-left: 20px;
}

.top_orange{
    color: white;
    background-color: rgba(254, 119, 90, 1);
    border: 1px solid rgba(254, 119, 90, 1);
    margin-left: 20px;
}
/* /NavBar Top */

/* NavBar Bottom */
.bottom{
line-height: 100px;
}

.bottom_left{ 
    float: left;
}

.site_logo{
    height: 30px;
    margin-top: 30%;
}

.bottom_right{ 
    float: right;
}

.bottom_right ul li{
    display: inline-block;
    list-style: none;
    margin-left: 10px;
}
/* /NavBar Bottom */

/* Main */

.container_top_main{
    width: 100%;
    height: 700px;
    background-image: url('../img/jumbotron.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right bottom;
}

/* Primo Blocco Main */
.container_content{
    width: 70%;
    height: 500px;  /* Da rimuovere */
    margin: auto;
}

.container_title{
    width: 60%;
    height: 100%;
}

.title{
    font-size: 25px;
    color: rgba(51, 71, 91, 1);
}

.button_main a{
    text-decoration: none;
    color: white;
    background-color: rgba(254, 119, 90, 1);
    border: 1px solid rgba(254, 119, 90, 1);
    border-radius: 5px;
    padding: 20px 30px 20px 30px; 
    font-size: 15px;
}

.paragraph{
    line-height: 25px;
    margin-bottom: 8%;
    margin-top: 8%;
    font-size: 15px;
    font-weight: 600;
    color: rgba(51, 71, 91, 1)   
}
/* /Primo Blocco Main */

/* Secondo Blocco Main */
.container_second_block{
    text-align: center;
}
.img_second_block{
    height: 150px;
    margin-top: 5%;
}

.title_second_block{
    margin-bottom: 3%;
}
/* Secondo Blocco Main */

/* Terzo Blocco Main */
.container_third_block{
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 5px rgba(230, 236, 241, 1);
}

.left{
    width: 30%;
    height: 300px;
    float: left;
    text-align: center;
}

.img_book{
    height: 30%;
    margin-top: 20%;
    margin-bottom: 8%;
}

.right{
    width: 70%;
    height: 300px;
    float: left;
}

.title_right{
    margin-top: 8%;
    font-size: 25px;
}

.list_right li{
    display: inline-block;
    list-style: none;
    margin-left: 10px;
    color: rgba(51, 71, 91, 1) 
}

.paragraph_right, .subtitle_right, .list_right{
    margin-top: 25px;
}

.paragraph_right{
    font-size: 15px;
    font-weight: 600;
    color: rgba(51, 71, 91, 1)   
}



