/* Common Rules */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

body{
    background-color: rgba(244, 249, 253, 1);
}

header{
    width: 100%;
}

.container_navbar{
    width: 70%;
    height: 100%;
    margin: auto;
    color: rgba(53, 76, 93, 1);
}

.navbar{
    width: 100%;
    height: 50%;
}

/* NavBar Top */
.top{
    line-height: 100px;
}

.top_left{ 
    float: left;
}

.top_right{ 
    float: right;
}

.globe_img{
    height: 13px;
    margin-right: 5px;
    background-color: rgba(53, 76, 93, 1);
    border-radius: 50%;
    cursor: pointer;
}

.language, .contact{
    cursor: pointer; 
}

.trattino{
    margin-left: 10px;
    margin-right: 10px;
}

.search_img{
    height: 13px;
    cursor: pointer;
}

.button{
    text-decoration: none;
    padding: 15px ;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

.top_white{
    color: rgba(253, 136, 111, 1);
    border: 1px solid rgba(253, 136, 111, 1);
    margin-left: 20px;
}

.top_orange{
    color: rgba(255, 245, 244, 1);
    background-color: rgba(254, 119, 90, 1);
    border: 1px solid rgba(254, 119, 90, 1);
    margin-left: 20px;
}
/* /NavBar Top */

/* NavBar Bottom */
.bottom{
line-height: 100px;
}

.bottom_left{ 
    float: left;
}

.site_logo{
    height: 30px;
    margin-top: 30%;
    cursor: pointer;
}

.bottom_right{ 
    float: right;
    cursor: pointer;
}

.bottom_right ul li{
    display: inline-block;
    list-style: none;
    margin-left: 17px;
    cursor: pointer;
}
/* /NavBar Bottom */

/* Main */
.container_top_main{
    width: 100%;
    height: 700px;
    background-image: url('../img/jumbotron.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right bottom;
}

/* Primo Blocco Main */
.container_content{
    width: 70%;
    margin: auto;
}

.container_title{
    width: 60%;
    height: 100%;
}

.title{
    font-size: 25px;
    color: rgba(51, 71, 91, 1);
    padding-top: 40px;
}

.button_main{ 
    background-color: rgba(254, 119, 90, 1);
    border: 1px solid rgba(254, 119, 90, 1);
    border-radius: 5px;
    padding: 20px 30px 20px 30px; 
    font-size: 15px;
    width: 30%;
    cursor: pointer;
}

.button_main a{
    text-decoration: none;
    color: rgba(255, 245, 244, 1);
}

.paragraph_top{
    line-height: 25px;
    margin-bottom: 5%;
    margin-top: 5%;
    font-size: 15px;
    font-weight: 600;
    color: rgba(51, 71, 91, 1);  
}

.second_paragraph_top{
    line-height: 25px;
    margin-bottom: 8%;
    margin-top: 5%;
    font-size: 12px;
    font-weight: 600;
    color: rgba(51, 71, 91, 1);    
}
/* /Primo Blocco Main */

/* Secondo Blocco Main */
.container_second_block{
    text-align: center;
}

.img_second_block{
    height: 150px;
    margin-top: 5%;
}

.title_second_block{
    margin-bottom: 3%;
    font-size: 30px;
    color: rgba(51, 71, 91, 1);
}

.paragraph_second_block{
    font-size: 17px;
    font-weight: 600;
    line-height: 30px;
    color: rgba(87, 103, 120, 1);
}
/* Secondo Blocco Main */

/* Terzo Blocco Main */
.container_third_block{
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 5px rgba(230, 236, 241, 1);
    margin-top: 50px;
    padding-bottom: 50px;
}

.left{
    width: 30%;
    height: 300px;
    float: left;
    text-align: center;
}

.img_book{
    height: 35%;
    margin-top: 20%;
    margin-bottom: 12%;
}

.button_main_orange{
    text-decoration: none;
    padding: 20px 40px 20px 40px; 
    border-radius: 5px;
    font-size: 15px; 
    color: rgba(255, 245, 244, 1);
    background-color: rgba(254, 119, 90, 1);
    border: 1px solid rgba(254, 119, 90, 1);
    margin-left: 20px;
    cursor: pointer;
}

.right{
    width: 60%;
    height: 300px;
    float: left;
}

.title_right{
    margin-top: 8%;
    font-size: 25px;
    color: rgba(51, 71, 91, 1);
}

.paragraph_right, .subtitle_right, .list_right{
    margin-top: 25px;
}

.paragraph_right{
    font-size: 15px;
    font-weight: 600;
    line-height: 30px;
    color: rgba(62, 81, 100, 1);
}

.subtitle_right{
   font-size: 20px; 
   color: rgba(51, 71, 91, 1);
}

/* .container_third_block h4::after{
    height: 1px;
    width: 5%;
    background: red;
} */

.list_right li{
    display: inline-block;
    list-style: none;
    font-weight: 600;
    font-size: 15px;
    line-height: 30px;
    color: rgba(69, 86, 105, 1);
    margin-right: 10px;
}

.list_right i{
    border-radius: 50%;
    color: white;
    background-color: rgba(254, 119, 90, 1);
    font-size: 13px;
    padding: 2px;
    margin-right: 10px;
}
/* /Terzo Blocco Main */

/* Quarto Blocco Main */
.container_fourth_block{
    height: 1000px;
}
.first_column{
    width: 30%;
    float: left;
    margin-right: 5%;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 5px rgba(230, 236, 241, 1);
    margin-top: 50px;
}

.img_columns{
    height: 100px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.title_colums{
    font-size: 25px;
    margin-bottom: 30px;
    color: rgba(51, 71, 91, 1);
}

.paragraph_colums{
    width: 80%;
    margin: auto;
    margin-bottom: 60px;
    font-size: 13px; 
    font-weight: 600;
    line-height: 30px;
    color: rgba(51, 71, 91, 1);
}

.line_columns{
    height: 2px;
    width: 80%;
    background: rgba(139, 149, 153, 1);
    margin: auto;
    margin-bottom: 30px;
}

.subtitle_colums{
    font-size: 18px;
    margin-bottom: 30px;
    color: rgba(51, 71, 91, 1);
}

.list_colums{
    list-style: none;
    text-align: left;
    padding-bottom: 30px;
    width: 80%;
    margin: auto;
    font-weight: 600;
    color: rgba(51, 71, 91, 1) 
}

.list_colums li{
    margin-bottom: 5px;
    color: rgba(51, 71, 91, 1);
}

.list_colums i{
    border-radius: 50%;
    color: white;
    background-color: rgba(254, 119, 90, 1);
    font-size: 13px;
    padding: 2px;
    margin-right: 15px;
}

.button_colums{
    background-color: rgba(254, 119, 90, 1);
    border: 1px solid rgba(254, 119, 90, 1);
    padding: 20px 40px 20px 40px;
    border-radius: 5px;
    font-size: 16px;
    width: 60%;
    margin: auto;
    margin-bottom: 30px;
    cursor: pointer;
}

.button_colums a{
    text-decoration: none;
    color: rgba(255, 245, 244, 1);
}

.second_column{
    width: 30%;
    float: left;
    margin-right: 5%;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 5px rgba(230, 236, 241, 1);
    margin-top: 50px;
}

.third_column{
    width: 30%;
    float: left;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 5px rgba(230, 236, 241, 1);
    margin-top: 50px;
}
/* /Quarto Blocco Main */


