/* Common Rules */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* font-family: 'Montserrat', sans-serif; */
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* Header */
body{
    background-color: rgba(244, 249, 253, 1);
}

header{
    width: 100%;
    min-width: 1000px;
}

.container_navbar{
    width: 70%;
    height: 100%;
    margin: auto;
    color: rgba(53, 76, 93, 1);
}

.navbar{
    width: 100%;
    height: 50%;
}

/* NavBar Top */
.top{
    line-height: 100px;
}

.top_left{ 
    float: left;
}

.top_right{ 
    float: right;
}

.fa-globe-europe{
    height: 13px;
    margin-right: 5px;
    cursor: pointer;
}

.language, .contact{
    cursor: pointer; 
}

.trattino{
    margin-left: 10px;
    margin-right: 10px;
}

.search_img{
    height: 13px;
    cursor: pointer;
}

.button{
    font-size: 15px;
    padding: 15px ;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.top_white{
    color: rgba(253, 136, 111, 1);
    border: 1px solid rgba(253, 136, 111, 1);
    margin-left: 20px;
}

.top_orange{
    color: rgba(255, 245, 244, 1);
    background-color: rgba(254, 119, 90, 1);
    border: 1px solid rgba(254, 119, 90, 1);
    margin-left: 20px;
}
/* Fine NavBar Top */

/* Linea Orizzontale */
.horizzontal_line{
    width: 100%;
    height: 1px;
    background: rgba(53, 76, 93, 1);;
}
/* Fine Linea Orizzontale */

/* NavBar Bottom */
.bottom{
    line-height: 100px;
}

.bottom_left{ 
    float: left;
}

.site_logo{
    height: 30px;
    margin-top: 30%;
    cursor: pointer;
}

.bottom_right{ 
    float: right;
    cursor: pointer;
}

.bottom_right ul li{
    display: inline-block;
    list-style: none;
    cursor: pointer;
    margin-left: 17px;
}
/* Fine NavBar Bottom */
/* FIne Header */

/* Main */
.container_top_main{
    width: 100%;
    height: 700px;
    background-image: url('../img/jumbotron.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right bottom;
}

/* Primo Blocco Main */
.container_content{
    width: 70%;
    margin: auto;
}

.container_title{
    width: 60%;
    height: 100%;
}

.title{
    font-size: 25px;
    padding-top: 40px;
    color: rgba(51, 71, 91, 1);
}

.paragraph_top{
    margin-bottom: 5%;
    margin-top: 5%;
    font-size: 15px;
    font-weight: 600;
    color: rgba(51, 71, 91, 1);  
}

.button_main{ 
    background-color: rgba(254, 119, 90, 1);
    border: 1px solid rgba(254, 119, 90, 1);
    border-radius: 5px;
    padding: 20px 30px 20px 30px; 
    font-size: 15px;
    width: 30%;
    cursor: pointer;
    text-align: center;
}

.button_main a{
    text-decoration: none;
    color: rgba(255, 245, 244, 1);
}

.second_paragraph_top{
    line-height: 25px;
    margin-bottom: 8%;
    margin-top: 5%;
    font-size: 12px;
    font-weight: 600;
    color: rgba(51, 71, 91, 1);    
}
/* Fine Primo Blocco Main */

/* Secondo Blocco Main */
.container_second_block{
    text-align: center;
}

.img_second_block{
    height: 150px;
    margin-top: 5%;
}

.title_second_block{
    margin-bottom: 3%;
    font-size: 32px;
    color: rgba(51, 71, 91, 1);
}

.paragraph_second_block{
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color: rgba(87, 103, 120, 1);
}
/* Fine Secondo Blocco Main */

/* Terzo Blocco Main */
.container_third_block{
    background-color: white;
    box-shadow: 1px 1px 5px 5px rgba(230, 236, 241, 1);
    border-radius: 5px;
    margin-top: 50px;
    padding-bottom: 50px;
}

/* Colonna di Sinistra */
.left{
    width: 30%;
    height: 300px;
    float: left;
    text-align: center;
}

.img_book{
    height: 35%;
    margin-top: 20%;
    margin-bottom: 12%;
}

.button_main_orange{
    padding: 20px 40px 20px 40px; 
    border-radius: 5px;
    font-size: 15px; 
    color: rgba(255, 245, 244, 1);
    margin-left: 20px;
    background-color: rgba(254, 119, 90, 1);
    border: 1px solid rgba(254, 119, 90, 1);
    text-decoration: none;
    cursor: pointer;
}
/* Fine Colonna di Sinistra */

/* Colonna di Destra */
.right{
    width: 70%;
    height: 300px;
    float: left;
}

.title_right{
    margin-top: 8%;
    font-size: 25px;
    color: rgba(51, 71, 91, 1);
}

.paragraph_right, .subtitle_right, .list_right{
    margin-top: 25px;
}

.paragraph_right{
    width: 80%;
    font-size: 15px;
    font-weight: 600;
    line-height: 30px;
    color: rgba(62, 81, 100, 1);
}

.subtitle_right{
   font-size: 20px; 
   color: rgba(51, 71, 91, 1);
   display: inline-block;
}

.subtitle_line{
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    height: 2px;
    margin-left: 40px;
    margin-left: 50px;
    background: rgba(139, 149, 153, 1);
}

.list_right li{
    display: inline-block;
    list-style: none;
    font-weight: 600;
    font-size: 15px;
    line-height: 30px;
    margin-right: 10px;
    color: rgba(69, 86, 105, 1);
}

.list_right i{
    border-radius: 50%;
    font-size: 13px;
    padding: 2px;
    margin-right: 10px;
    color: white;
    background-color: rgba(254, 119, 90, 1);
}
/* FIne Colonna di Destra */
/* Fine Terzo Blocco Main */

/* Quarto Blocco Main */
/* Colonna di Sinistra */
.first_column{
    width: 30%;
    float: left;
    margin-right: 5%;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 5px rgba(230, 236, 241, 1);
    margin-top: 50px;
}
/* Fine Colonna di Sinistra */

/* Colonna Centrale */
.second_column{
    width: 30%;
    float: left;
    margin-right: 5%;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 5px rgba(230, 236, 241, 1);
    margin-top: 50px;
}
/* Fine Colonna Centrale */

/* Colonna di Destra */
.third_column{
    width: 30%;
    float: left;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 5px rgba(230, 236, 241, 1);
    margin-top: 50px;
}
/* Fine Colonna di Destra */

/* Regole delle 3 colonne */
.img_columns{
    height: 100px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.title_colums{
    font-size: 25px;
    margin-bottom: 30px;
    color: rgba(51, 71, 91, 1);
}

.paragraph_colums{
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
    font-size: 1rem; 
    font-weight: 600;
    line-height: 30px;
    color: rgba(51, 71, 91, 1);
}

.line_columns{
    height: 2px;
    width: 80%;
    background: rgba(139, 149, 153, 1);
    margin: auto;
    margin-bottom: 30px;
}

.subtitle_colums{
    font-size: 18px;
    margin-bottom: 30px;
    color: rgba(51, 71, 91, 1);
}

.list_colums{
    list-style: none;
    text-align: left;
    padding-bottom: 30px;
    width: 80%;
    margin: auto;
    font-weight: 600;
    color: rgba(51, 71, 91, 1) 
}

.list_colums li{
    margin-bottom: 5px;
    color: rgba(51, 71, 91, 1);
}

.list_colums i{
    border-radius: 50%;
    color: white;
    background-color: rgba(254, 119, 90, 1);
    font-size: 13px;
    padding: 2px;
    margin-right: 15px;
}

.button_colums{
    background-color: rgba(254, 119, 90, 1);
    border: 1px solid rgba(254, 119, 90, 1);
    padding: 20px 40px 20px 40px;
    border-radius: 5px;
    font-size: 16px;
    width: 60%;
    margin: auto;
    margin-bottom: 30px;
    cursor: pointer;
}

.button_colums a{
    text-decoration: none;
    color: rgba(255, 245, 244, 1);
}
/* Fine Regole delle 3 colonne */
/* Fine Quarto Blocco Main */

/* Quinto Blocco Main */
.background_fift_block{
    margin-top: 100px;
    width: 100%;
    background: linear-gradient(90deg, #00A7BA 0%, #00B8AA 100%);;
}

.container_fift_block{
    color: white;
}

.title_fift{
    font-size: 30px;
    padding-top: 30px;
    text-align: center;
}

.paragraph_fift{
    color: rgba(251, 253, 253, 1);
    font-size: 15px;
    padding-top: 20px;
    text-align: center; 
}

.four_columns{
    width: 25%;
    height: 300px;
    float: left;
    margin-top: 40px;
    text-align: center;
    margin-bottom: 100px;
}

.top_four_columns{
    width: 100%;
    height: 50%;
    border-bottom: 1px solid rgba(137, 218, 219, 1);
    border-right: 1px solid rgba(137, 218, 219, 1);
}

.img_four_columns{
    height: 30px;
    margin-top: 6%;
    margin-bottom: 6%;
}

.numbers_four_columns{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 6%;
}

.numbers_four_columns span:last-child{
    font-size: 25px;
    font-weight: 100;
}

.description_four_columns{
    font-size: 11px;
}

.bottom_four_columns{
    width: 100%;
    height: 50%;
    border-right: 1px solid rgba(137, 218, 219, 1);
}

.without_border{
    border-right: none;
}
/* /Quinto Blocco Main */

/* Sesto Blocco Main */
.container_six_block{
    width: 100%;
    height: 800px;
    background-color: red;
}

/* Colonna di Sinistra */
.left_six_column{
    width: 50%;
    height: 400px;
    float: left;
}

.top_left_six{
    width: 60%;
    margin: auto;
    height: 50%;
    text-align:
}

.numbers_six_colums{
    font-size: 50px;
    font-weight: 600;
    color: rgba(51, 71, 91, 1);
    padding-top: 20px;
    padding-bottom: 20px;
}

.top_left_six p{
    font-size: 17px;
    font-weight: 600;
    color: rgba(51, 71, 91, 1);
}

.bottom_left_six{
    width: 100%;
    height: 50%;
    background-color: orange;
}

.right_six_column{
    width: 50%;
    height: 400px;
    float: left;
}
/* Fine Colonna di Sinistra */

.top_right_six{
    width: 100%;
    height: 50%;
    background-color: blueviolet;
}

.bottom_right_six{
    width: 100%;
    height: 50%;
    background-color: grey;
}
