/* Common Rules */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* Header */
body{
    background-color: rgba(244, 249, 253, 1);
}

header{
    width: 100%;
    min-width: 1400px;
}

.container_navbar{
    width: 70%;
    height: 100%;
    margin: auto;
    color: rgba(59, 81, 99, 1);
}

.navbar{
    width: 100%;
    height: 50%;
}

/* NavBar Top */
.top{
    margin-top: 30px;
}

.top_left{ 
    float: left;
    font-weight: 600;
}

/* DropDown */
.dropbtn {
    padding: 15px;
    font-size: 16px;
    border: none;
    background-color: white;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 120px;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.2);
    border: 2px solid rgba(203, 214, 226, 1);
    border-radius: 3px;
    z-index: 1;
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: white;
}

  
.dropdown-content a {
    color: rgba(51, 71, 91, 1);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    line-height: 15px;
}

.dropdown-content a:hover{
    background-color: thistle;
}

.dropdown:hover .dropdown-content{
    display: block;
}
/* DropDown */


.top_right{ 
    float: right;
    margin-top: 20px;
}

.fa-globe-europe{
    height: 13px;
    margin-right: 5px;
    cursor: pointer;
}

.language, .contact{
    cursor: pointer; 
}

.trattino{
    margin-left: 10px;
    margin-right: 10px;
}

.search_img{
    height: 13px;
    cursor: pointer;
}

.button{
    font-size: 15px;
    padding: 15px ;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.top_white{
    color: rgba(253, 136, 111, 1);
    border: 1px solid rgba(253, 136, 111, 1);
    margin-left: 20px;
}

.top_orange{
    margin-left: 20px;
    color: rgba(255, 245, 244, 1);
    background-color: rgba(254, 119, 90, 1);
    border: 1px solid rgba(254, 119, 90, 1);
}
/* Fine NavBar Top */

/* Linea Orizzontale */
.horizzontal_line{
    width: 100%;
    height: 1px;
    margin-top: 30px;
    background: rgba(53, 76, 93, 1);;
}
/* Fine Linea Orizzontale */

/* NavBar Bottom */
.bottom{
    line-height: 100px;
}

.bottom_left{ 
    float: left;
}

.site_logo{
    height: 30px;
    margin-top: 30%;
    cursor: pointer;
}

.bottom_right{ 
    float: right;
    cursor: pointer;
    font-weight: 600;
    color: rgba(59, 81, 99, 1);
}

.bottom_right ul li{
    display: inline-block;
    list-style: none;
    cursor: pointer;
    margin-left: 17px;
}
/* Fine NavBar Bottom */
/* FIne Header */

/* Main */
.container_top_main{
    width: 100%;
    height: 700px;
    background-image: url('../img/jumbotron.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right bottom;
    position: relative;
}

/* Primo Blocco Main */
.container_content{
    width: 70%;
    margin: auto;
}

.container_title{
    width: 60%;
    height: 100%;
}

.title{
    font-size: 25px;
    padding-top: 40px;
    color: rgba(51, 71, 91, 1);
}

.paragraph_top{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 95%;
    font-size: 16px;
    font-weight: 600;
    color: rgba(51, 71, 91, 1);  
}

.button_main{ 
    width: 180px;
    padding: 20px 30px 20px 30px; 
    font-size: 15px;
    border-radius: 5px;
    background-color: rgba(254, 119, 90, 1);
    border: 1px solid rgba(254, 119, 90, 1);
    cursor: pointer;
    text-align: center;
}

.button_main a{
    text-decoration: none;
    color: rgba(255, 245, 244, 1);
}

.second_paragraph_top{
    line-height: 25px;
    margin-bottom: 8%;
    margin-top: 5%;
    font-size: 14px;
    font-weight: 600;
    color: rgba(51, 71, 91, 1);    
}

.bottom_background{
    height: 110px;
    width: 100%;
    bottom: 0;
    background-color: rgba(175, 235, 228, 1);
    border-top: 4px solid rgba(51, 71, 91, 1);
    border-bottom: 4px solid rgba(51, 71, 91, 1);
    position: absolute;
    display: block;
}
/* Fine Primo Blocco Main */

/* Secondo Blocco Main */
.container_second_block{
    text-align: center;
}

.img_second_block{
    height: 150px;
    margin-top: 5%;
}

.title_second_block{
    margin-bottom: 3%;
    font-size: 32px;
    color: rgba(51, 71, 91, 1)
}

.paragraph_second_block{
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color: rgba(78, 94, 110, 1);
}
/* Fine Secondo Blocco Main */

/* Terzo Blocco Main */
.container_third_block{
    margin-top: 50px;
    padding-bottom: 50px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 1px 1px 5px 5px rgba(230, 236, 241, 1);
}

/* Colonna di Sinistra */
.left{
    width: 30%;
    height: 300px;
    float: left;
    text-align: center;
}

.img_book{
    height: 35%;
    margin-top: 20%;
    margin-bottom: 12%;
}

.button_main_orange{
    padding: 20px 40px 20px 40px; 
    border-radius: 5px;
    font-size: 15px; 
    color: rgba(255, 245, 244, 1);
    margin-left: 20px;
    background-color: rgba(254, 119, 90, 1);
    border: 1px solid rgba(254, 119, 90, 1);
    text-decoration: none;
    cursor: pointer;
}
/* Fine Colonna di Sinistra */

/* Colonna di Destra */
.right{
    width: 70%;
    height: 300px;
    float: left;
}

.title_right{
    margin-top: 8%;
    font-size: 25px;
    color: rgba(51, 71, 91, 1);
    font-weight: 600;
}

.paragraph_right, .subtitle_right, .list_right{
    margin-top: 25px;
}

.paragraph_right{
    width: 80%;
    font-size: 15px;
    font-weight: 600;
    line-height: 30px;
    color: rgba(70, 87, 104, 1)
}

.subtitle_right{
   font-size: 20px; 
   color: rgba(51, 71, 91, 1);
   font-weight: 600;
   display: inline-block;
}

.subtitle_line{
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    height: 2px;
    margin-left: 40px;
    margin-left: 50px;
    background: rgba(139, 149, 153, 1);
}

.list_right li{
    display: inline-block;
    list-style: none;
    font-weight: 600;
    font-size: 15px;
    line-height: 30px;
    margin-right: 10px;
    color: rgba(70, 87, 104, 1);
}

.list_right i{
    border-radius: 50%;
    font-size: 13px;
    padding: 2px;
    margin-right: 10px;
    color: white;
    background-color: rgba(254, 119, 90, 1);
}
/* Fine Colonna di Destra */
/* Fine Terzo Blocco Main */

/* Quarto Blocco Main */
/* Colonna di Sinistra */
.first_column{
    width: 30%;
    margin-right: 5%;
    margin-top: 50px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 5px rgba(230, 236, 241, 1);
    float: left;
    text-align: center;
    background-color: white;
}
/* Fine Colonna di Sinistra */

/* Colonna Centrale */
.second_column{
    width: 30%;
    margin-right: 5%;
    margin-top: 50px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 5px rgba(230, 236, 241, 1);
    float: left;
    text-align: center;
    background-color: white;
}
/* Fine Colonna Centrale */

/* Colonna di Destra */
.third_column{
    width: 30%;
    margin-top: 50px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 5px rgba(230, 236, 241, 1);
    float: left;
    text-align: center;
    background-color: white;
}
/* Fine Colonna di Destra */

/* Regole delle 3 colonne */
.img_columns{
    height: 100px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.title_colums{
    font-size: 25px;
    margin-bottom: 30px;
    color: rgba(51, 71, 91, 1);
}

.paragraph_colums{
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
    font-size: 1rem; 
    font-weight: 600;
    line-height: 30px;
    color: rgba(77, 94, 111, 1)
}

.line_columns{
    height: 2px;
    width: 80%;
    margin: auto;
    background: rgba(139, 149, 153, 1);
    margin-bottom: 30px;
}

.subtitle_colums{
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: 600;
    color: rgba(51, 71, 91, 1);
}

.list_colums{
    list-style: none;
    text-align: left;
    margin: auto;
    padding-bottom: 30px;
    width: 80%;
    font-weight: 600;
    color: rgba(77, 94, 111, 1)
}

.list_colums li{
    margin-bottom: 5px;
    color: rgba(77, 94, 111, 1)
}

.list_colums i{
    border-radius: 50%;
    font-size: 13px;
    padding: 2px;
    margin-right: 15px;
    color: white;
    background-color: rgba(254, 119, 90, 1);
}

.button_colums{
    background-color: rgba(254, 119, 90, 1);
    border: 1px solid rgba(254, 119, 90, 1);
    padding: 20px 40px 20px 40px;
    border-radius: 5px;
    font-size: 16px;
    width: 200px;
    margin: auto;
    margin-bottom: 30px;
    cursor: pointer;
    text-align: center;
}

.button_colums a{
    text-decoration: none;
    color: rgba(255, 245, 244, 1);
}

.img_growth img{
    height: 20px;
    margin-bottom: 25px;
}

/* Fine Regole delle 3 colonne */
/* Fine Quarto Blocco Main */

/* Quinto Blocco Main */
.background_fift_block{
    margin-top: 100px;
    width: 100%;
    background: linear-gradient(90deg, #00A7BA 0%, #00B8AA 100%);;
}

.container_fift_block{
    color: white;
}

.title_fift{
    font-size: 30px;
    padding-top: 30px;
    text-align: center;
}

.paragraph_fift{
    color: rgba(251, 253, 253, 1);
    font-size: 15px;
    padding-top: 20px;
    text-align: center; 
}

.four_columns{
    width: 25%;
    float: left;
    margin-top: 40px;
    text-align: center;
    margin-bottom: 70px;
}

.top_four_columns{
    width: 100%;
    height: 50%;
    border-bottom: 1px solid rgba(137, 218, 219, 1);
    border-right: 1px solid rgba(137, 218, 219, 1);
}

.img_four_columns{
    height: 30px;
    margin-top: 6%;
    margin-bottom: 6%;
}

.numbers_four_columns{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 6%;
}

.numbers_four_columns span:last-child{
    font-size: 25px;
    font-weight: 100;
}

.description_four_columns{
    font-size: 11px;
    margin-bottom: 20px;
}

.bottom_four_columns{
    width: 100%;
    height: 50%;
    border-right: 1px solid rgba(137, 218, 219, 1);
}

.without_border{
    border-right: none;
}
/* /Quinto Blocco Main */

/* Sesto Blocco Main */
.container_six_block{
    width: 100%;
    margin-bottom: 20px;
}

/* Colonna di Sinistra */
.left_six_column{
    width: 40%;
    float: left;
}

.top_left_six{
    width: 60%;
    margin: auto;
    margin-bottom: 60px;
}

.numbers_six_colums{
    font-size: 50px;
    font-weight: 700;
    color: rgba(51, 71, 91, 1);
    padding-top: 30px;
    padding-bottom: 25px;
}

.left_six_column strong {
    color: rgba(52, 72, 92, 1);
}

.top_left_six p{
    font-size: 17px;
    font-weight: 600;
    color: rgba(90, 106, 121, 1);
    line-height: 25px;
    width: 90%;
}

.bottom_left_six{
    width: 100%;
}

.title_left_six{
    font-size: 30px;
    color: rgba(52, 71, 91, 1);
    margin-bottom: 30px;
}

.bottom_left_six p{
    font-size: 13px;
    font-weight: 600;
    color: rgba(90, 106, 121, 1);
    margin-bottom: 35px;
    line-height: 20px;
}

.button_left_six{
    background-color: rgba(254, 119, 90, 1);
    border: 1px solid rgba(254, 119, 90, 1);
    padding: 20px 40px 20px 40px;
    border-radius: 5px;
    font-size: 16px;
    width: 200px;
    margin-bottom: 40px;
    cursor: pointer;
    text-align: center;
}

.button_left_six a{
    text-decoration: none;
    color: rgba(255, 245, 244, 1);
}

.bottom_left_six p:last-child{
    font-size: 13px;
    font-weight: 600;
    color: rgba(90, 106, 121, 1);
}
/* /Fine Colonna di Sinistra */

/* Colonna di Sinistra */
.right_six_column{
    width: 60%;
    float: left;
    text-align: right;
}

.top_right_six{
    width: 20%;
    height: 50px;
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
}

.container_foto{
    text-align: left;
}

 .img_six_block{  
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
} 

.one{
    background-image: url('../img/atlasian.webp');
    height: 30px;
    margin-top: 55px;
}

.two{
    background-image: url('../img/doordash.webp');
    height: 30px;
    margin-top: 55px;
}

.three{
    background-image: url('../img/g2crowd.webp');
    height: 30px;
    margin-top: 50px;
}

.four{
    background-image: url('../img/purple.webp');
    height: 40px;
    margin-top: 45px;
}

.five{
    background-image: url('../img/subaru.webp');
    height: 40px;
    margin-top: 50px;
}

.six{
    background-image: url('../img/wistia.webp');
    height: 30px;
    margin-top: 55px;
}

.seven{
    background-image: url('../img/classpass.webp');
    height: 40px;
    margin-top: 45px;
}

.eight{
    background-image: url('../img/vmware.webp');
    height: 30px;
    margin-top: 50px;
}

.bottom_right_six{
    width: 100%;
}

.bottom_right_six img{
    height: 350px;
    margin-top: 80px;  
}
/* /Fine Colonna di Destra */
/* Fine Main */

/* Footer */
footer{
    width: 100%; 
    background-color: rgba(50, 73, 91, 1);
}
.container_footer{
    width: 100%;
}

.four_columns_footer{
    width: 25%;
    float: left;
    margin-top: 40px;
    margin-bottom: 70px;
    font-weight: 400;
}

.four_columns_footer h5{
    color: white;
    margin-bottom: 20px;
    font-size: 17px;
}

.four_columns_footer li{
    list-style: none;
    color: rgba(201, 213, 225, 1);
    margin-bottom: 20px;
    font-size: 15px;
    cursor: pointer;
} 

.button_footer{
    font-size: 15px;
    padding: 10px 0px 10px 0px ;
    border-radius: 5px;
    width: 200px;
    background-color: rgba(218, 222, 224, 1);
    border: 1px solid rgba(218, 222, 224, 1);
    margin-bottom: 20px;
    text-align: center;
}

.button_footer a{
    text-decoration: none;
    color: rgba(50, 73, 91, 1);
    font-weight: 450;
}


.icon_footer{
    color: rgba(218, 222, 224, 1);
    cursor: pointer;
}

.icon_footer i{
    margin-right: 25px;
}

.languages {
    width: 100%;
    text-align: center;
    color: rgba(218, 222, 224, 1);
}

.languages span{
    margin-right: 25px;
    cursor: pointer;
}

.hr_footer{
    height: 1px;
    width: 100%;
    background-color: rgba(187, 200, 212, 1);
    margin-top: 20px;
    margin-bottom: 40px;
}

.logo_footer{
    float: left;
    cursor: pointer;
}

.policy_footer{
    float: right;
    color: rgba(187, 200, 212, 1);
    cursor: pointer;
}

.policy_footer span{
    margin-left: 30px;
}

.copyright{
    margin-top: 90px;
    color: rgba(237, 239, 240, 1);
    padding-bottom: 40px;
}


